.clicker{
	width: 250px;
	height: 50px;
	background-color: aquamarine;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block; 
	border-width: 4px;
	font-size: 20px;
}

.image{
	border-radius: 20px;
	left: 70%;
	right: 30%;
	
}

.1st paragraph{
	font-family: 'Orbitron', sans-serif;
}
